
.container {
    margin-top: 50px;
}
.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-header {
  border-color:   #fff;
  background-color: green; 
}
.form-group label {
    font-weight: bold;
}
.btn-primary,
.btn-primary:hover {
  border-color:   #fff;
  background-color: green; 
}

