{%extends 'base.html'%}
{%block navbar%}
<link rel="stylesheet" href="/static/requests_menu.css">
<h1>Requests menu</h1>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="methods">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/search_request">Search request</a>
                    <a class="nav-link" href="/requests_menu/update_requests">Update request</a>
                    <a class="nav-link" href="/requests_menu/delete_requests">Delete request</a>
                    <a class="nav-link" href="/download_excel_requests">Export to Excel</a>
                
                    

                </li>
            </ul>
        </div>
    </div>
</nav>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



{%endblock%}
 


  

