{%extends 'base.html'%}
{%block navbar%}
<link rel="stylesheet" href="/static/users_menu.css">
<h1>Users menu</h1>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="methods">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users_menu/delete">Delete user</a>
                    <a class="nav-link" href="/download_excel_users">Export to Excel</a>
                
                   

                </li>
            </ul>
        </div>
    </div>
</nav>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{%endblock%}
  



